*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    background-color: #f9f9f9;
    font-size: 1rem;
}

/* Navbar design */
.navbar{
    background:#111111;
    color:white;
    padding:20px;
    position:sticky;
    top:0;
    height:90px;
    justify-content:space-between;
    align-content: center;
    border-radius: 0 0 10% 10%;
}
.navbar-logo{
    font-size:20px;
    font-weight:bold;
    float:left;
    background:hsl(0, 100%, 50%);
    border-radius:20px;
    padding: 10px;
    border:none;
    font-style:italic;
    margin:-17px;
}
.navbar-items{
    float:right;
    font-size: 20px;
}
.navbar-item{
    display:inline-block;
    padding: 20px;
}
.special{
    position:relative;
}
.navbar-badge{
    background-color:red;
    padding:10px;
    border-radius:30px;
    position:absolute;
    top:-18px;
    right:-22px;
    text-align:center;
}

.web-heading{
    background-image: url('downtown.jpg');
    /* background-repeat:no-repeat; */
    background-position:center;
    background-size:cover;
    background-color:#f4f4f4;
    color: white;
    text-align: center;
    padding: 50px 0;
    height: 300px;
    margin: 20px;
}

.heading{
    font-size:50px;
    padding:20px;
    font-style:italic;
}
.description{
    font-size: 25px;
    padding: 20px;
}

.button-design{
    font-size:40px;
    padding:100px;
}
.start-button{
    background-color:green;
    color:white;
    padding:10px;
    border-radius: 10px;
    box-shadow: none;
    font-size: 20px;
    border:none;
}

/*Introduction part*/
.main-descriptions{
   padding:100px;
   text-align:center;
   color:#007b5e;
   margin:30px;
}

.description-heading{
    font-size:50px;
    margin: 20px;
    font-style:inherit;
}

/* Description picture */
.family-logo-y{
    width:520px;
    height:520px;
    justify-content: center;
    gap: 20px;
    display: inline-block;
    padding:20px;
}
/* Procedure heading picture */
.procedure-heading{
    background-image: url('how.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    color:#007b5e;
    text-align: center;
    font-size: 40px;
    margin: 30px;
    padding: 50px 0;
    height: 200px;
}

.description-details{
    font-size:20px;
    color:black;
    padding:30px;
}

.procedure-steps{
    background-color: #f4f4f4;
    width: 200px;
    height:200px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin:30px;
}

.feature{
    background-color: white;
    width: 350px;
    height:150px;
    padding:30px 10px;
    margin:50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1);
    text-align:center;

}

.features{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

hr{
    width:100%;
    height:3px;
    color: red;
}
/* Location design start here */
.locations-heading{
    color:#007b5e;
    text-align:center;
    margin: 50px;
    font-size: 50px;
}
.location{
    background-color:white;
    width: 350px;
    height: 150px;
    padding: 35px;
    margin: 60px;
    border-radius: 20px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.1);

}
.locations{
    justify-content:center;
    gap:20px;
    flex-wrap: wrap;
    display:flex;
}

.bottom-description{
    padding: 30px;
}
.b-design{
    text-align:center;
    padding: 20px;
    margin: 10px;
}
.b-design h2{
    font-size: 50px;
    color:#007b5e;
    padding: 20px;
}
.b-design p{
    font-size:20px;
}
/* Footer design start here */
.footer-design{
    background-color:#007b5e;
    padding:10px;
    color:white;
    text-align:center;
}

.footer-rights{
    font-size:20px;
    padding:10px;
}
li{
    display: inline-block;
    padding: 20px;
}