*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font: Georgia,sans-serif;
}

/* bottom description details */
.track-heading{
    padding: 10px;
    font-size: 50px;
}
.track-details{
    font-size: 20px;
}
.track-progress{
    background-color: #f9f5ef;
    text-align:center;
    padding:20px;
    border-radius: 10px;
    border:none;
    box-shadow: 5px 6px 9px rgba(0.1,0,0.1,0.1);
}

.passport-grid{
    background-color: #fff;
    width: 850px;
    height: 160px;
    margin: 50px auto;
    display:flex;
    justify-content: center;
    gap: 60px;
    padding: 30px; 
    border: 3px dotted #aaa ;
    border-radius: 40px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.stamp-slot{
    font-size: 60px;
    border: 2px dotted #ff0000;
    border-radius: 40px;
    transition: transform 0.3s ease;
}
.stamp-slot:hover {
    cursor:pointer;
    color:aqua;
    transform: scale(1.10);
}


.stamp-slot.completed {
    border: 3px dotted #ccc;
    border-radius: 40px;
    background: #fef1e6;
    border-color: #d59f6e;
    box-shadow: 0 12px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.stamp-slot.completed:hover {
    color:#d59f6e;
    transform: scale(1.10);
}